section {
  text-align: center;
}

table {
  margin: 0 auto;
}

table, td {
  border: 1px solid #000;
}

td {
  width: 75px;
  height: 75px;
}

.wall {
  background: #000;
}

.hero {
  background: #8cbebe;
}

.hero_dead {
  background: #eb9b80;
}

.buttons {
  margin: 50px 0 0;
}
